In [1]:
from bs4 import BeautifulSoup

In [3]:
%pip install html5lib

Requirement already satisfied: html5lib in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%pip install bs4

Requirement already satisfied: bs4 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (0.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from beautifulsoup4->bs4) (2.5)

In [6]:
%pip install requests

Requirement already satisfied: requests in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\haris\anaconda3\envs\newenv01\lib\site-packages (from requests) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
soup = BeautifulSoup(html,'html5lib')

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [7]:
tag_object = soup.title
print(f"Tag object: {tag_object}")

Tag object: <title>Page Title</title>

In [8]:
print(f"Tag Object type: {type(tag_object)}")

Tag Object type: <class 'bs4.element.Tag'>

In [10]:
tag_object = soup.h3
tag_object

In [11]:
tag_child = tag_object.b
tag_child

In [12]:
tag_parent = tag_child.parent
tag_parent

In [14]:
tag_object

In [15]:
tag_object.parent

In [16]:
sibling1 = tag_object.next_sibling
sibling1

In [20]:
sibling2 = sibling1.next_sibling
sibling2

In [21]:
salary = sibling2.next_sibling
salary

In [22]:
tag_child['id']

'boldest'

In [23]:
tag_child.attrs

{'id': 'boldest'}

In [28]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [29]:
type(tag_string)

bs4.element.NavigableString

In [30]:
unicode_string =str(tag_string)
unicode_string

'Lebron James'

In [31]:
type(unicode_string)

str

In [32]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [33]:
table_bs = BeautifulSoup(table,'html5lib')

In [34]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [35]:
first_row = table_rows[0]
first_row

In [36]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [37]:
first_row.td

In [38]:
for i,row in enumerate(first_row):
    print(f"row: {i} is {row}")

row: 0 is <td id="flight">Flight No</td>
row: 1 is <td>Launch site</td>
row: 2 is
row: 3 is <td>Payload mass</td>